
{% extends 'base.html' %}



{% block content %}
<h1 style="text-shadow: 3px 3px 3px black; color: white;" class="center">About BarFly</h1>

<h3 style="text-shadow: 3px 3px 3px black; color: white; background-color: rgba(169, 169, 169, .5)" class="center">BarFly is a social app designed for bar enthusiasts who enjoy discovering new bars, sharing their experiences, and staying informed about the drinks available at their favorite establishments. With a user-friendly interface and a growing community of fellow bar lovers, BarFly aims to enhance your night out experience and help you find the perfect spot for any occasion.</h3>
<hr />
{% endblock  %}