{% extends 'base.html' %}
{% block content %}

<h1 style="text-shadow: 3px 3px 3px black; color: white;" class="center">Bar List</h1>


{% for bar in bars %}
<a href="{% url 'detail' bar.id %}" style="color: black;">
	<div class="card center" style="border-radius: 100px; background: linear-gradient(rgb(130,177,255), white);">
		<div class="card-content">
			<span class="card-title">{{ bar.name }}</span>
			<p>Address: {{ bar.address }}</p>
			<p>Theme: {{ bar.theme }}</p>
			<p>Popularity: {{ bar.site_traffic }}</p>
            {% if has_cover %}
                <p>Cover: Yes</p>
            {% else %}
                <p>Cover: No</p>
            {% endif %}
		</div>
	</div>
</a>
{% endfor %}

{% endblock %}